
#result, #result1, #result2 {
    border: #d0d0d0 1px solid;
    padding: 10px;
    min-height: 100px;
}



body {
    margin: 0;
}

.header {
  padding:1px;
  text-align: center;
  background: #13b9d3;
  color:black;
  font-size: 15px;
}

ul{
    list-style-type: none;
    width: 25%;
    background-color: #f1f1f1;
    margin:0;
    padding:0;
    float:left;
    
    
    
}

.mainPage {
    margin-left: 40%;
    padding: 1px 16px;
    height: 1000px;

}
.float-container {
   
    margin-left: 26%;
    margin-right: 5%;
    height: 1000px;
}


.float-child {
    flex: 0 0 65%;
}  

.codeEditorDiv {
    flex: 0 0 65%;
    height: 20px;
}

li a {
    display: block;
    color: black;
   padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
  color: white;
}